@model List<Juego>

<h1>Juegos</h1>

<p>
    <a asp-action="Create">Añadir Juego</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Categoria</th>
            <th>Nombre</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var juego in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => juego.Categoria.Name)</td>
                <td>@Html.DisplayFor(m => juego.Name)</td>
            </tr>
        }
    </tbody>
</table>